/*Fixed Bottom Menu styles*/
:root{
	--menu-bottom-h: 60px;
}

#box{
	padding-bottom: var(--menu-bottom-h);
}

#nav_bottom{
	position: fixed;
	z-index: 9;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

#nav_bottom > ul{
	height: var(--menu-bottom-h);
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#nav_bottom.icons-center .menu-item a{
	display: block;
}

#nav_bottom.icons-center .menu-item i._mi{
	display: block;
	margin: 0 0 .25em;
}

#nav_bottom.icons-hidden .menu-item i._mi + span{
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@media (max-width: 1599px) {
	#nav_bottom.icons-hidden-xl .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 1199px) {
	#nav_bottom.icons-hidden-lg .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 991px) {
	#nav_bottom.icons-hidden-md .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 767px) {
	#nav_bottom.icons-hidden-sm .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 599px) {
	#nav_bottom.icons-hidden-xs .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 499px) {
	#nav_bottom.icons-hidden-xxs .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 399px) {
	#nav_bottom.icons-hidden-xxxs .menu-item i._mi + span{
		overflow: hidden;
		clip: rect(0 0 0 0);
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
}

#to-top.visible{
	bottom: var(--menu-bottom-h);
}

@media screen and (min-width: 1280px) {
	#side_nav.sticked ~ * #nav_bottom{
		margin-left: var(--sideNavWidth);
	}

	#side_nav.sticked.right ~ * #nav_bottom{
		margin-left: 0;
		margin-right: var(--sideNavWidth);
	}
}