/*EDD styles*/
:root{
	--edd-gap: 8px;
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

#edd-purchase-button,
.edd-submit,
[type=submit].edd-submit,
.edd_checkout a,
.edd-submit.button,
.edd-submit.button.gray,
.edd-submit.button:visited{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
}

#edd-purchase-button:hover,
.edd-submit:hover,
[type=submit].edd-submit:hover,
.edd_checkout a:hover,
.edd-submit.button:hover,
.edd-submit.button.gray:hover,
.edd-submit.button:visited:hover{
	border-color: transparent;
	color: var(--colorLight);
	background-color: var(--colorMain);
}

.btns-big #edd-purchase-button,
.btns-big .edd-submit,
.btns-big [type=submit].edd-submit,
.btns-big .edd_checkout a,
.btns-big .edd-submit.button,
.btns-big .edd-submit.button.gray,
.btns-big .edd-submit.button:visited{
	padding: 20px 35px 20px;
}

.btns-uppercase #edd-purchase-button,
.btns-uppercase .edd-submit,
.btns-uppercase [type=submit].edd-submit,
.btns-uppercase .edd_checkout a,
.btns-uppercase .edd-submit.button,
.btns-uppercase .edd-submit.button.gray,
.btns-uppercase .edd-submit.button:visited{
	text-transform: uppercase;
}

.btns-bold #edd-purchase-button,
.btns-bold .edd-submit,
.btns-bold [type=submit].edd-submit,
.btns-bold .edd_checkout a,
.btns-bold .edd-submit.button,
.btns-bold .edd-submit.button.gray,
.btns-bold .edd-submit.button:visited{
	font-weight: bold;
}

.btns-rounded #edd-purchase-button,
.btns-rounded .edd-submit,
.btns-rounded [type=submit].edd-submit,
.btns-rounded .edd_checkout a,
.btns-rounded .edd-submit.button,
.btns-rounded .edd-submit.button.gray,
.btns-rounded .edd-submit.button:visited{
	border-radius: 6px;
}

.btns-round #edd-purchase-button,
.btns-round .edd-submit,
.btns-round [type=submit].edd-submit,
.btns-round .edd_checkout a,
.btns-round .edd-submit.button,
.btns-round .edd-submit.button.gray,
.btns-round .edd-submit.button:visited{
	border-radius: 40px;
}

.btns-colormain #edd-purchase-button,
.btns-colormain .edd-submit,
.btns-colormain [type=submit].edd-submit,
.btns-colormain .edd_checkout a,
.btns-colormain .edd-submit.button,
.btns-colormain .edd-submit.button.gray,
.btns-colormain .edd-submit.button:visited{
	background-color: var(--colorMain);
	color: #fff;
}

.btns-colormain #edd-purchase-button:hover,
.btns-colormain .edd-submit:hover,
.btns-colormain [type=submit].edd-submit:hover,
.btns-colormain .edd_checkout a:hover,
.btns-colormain .edd-submit.button:hover,
.btns-colormain .edd-submit.button.gray:hover,
.btns-colormain .edd-submit.button:visited:hover{
	background-color: var(--colorDark);
	color: var(--colorLight);
}

.btns-outline #edd-purchase-button,
.btns-outline .edd-submit,
.btns-outline [type=submit].edd-submit,
.btns-outline .edd_checkout a,
.btns-outline .edd-submit.button,
.btns-outline .edd-submit.button.gray,
.btns-outline .edd-submit.button:visited{
	background-color: transparent;
	color: var(--colorDark);
	border-color: var(--colorDark);
}

.btns-outline #edd-purchase-button:hover,
.btns-outline .edd-submit:hover,
.btns-outline [type=submit].edd-submit:hover,
.btns-outline .edd_checkout a:hover,
.btns-outline .edd-submit.button:hover,
.btns-outline .edd-submit.button.gray:hover,
.btns-outline .edd-submit.button:visited:hover{
	background-color: var(--colorDark);
	color: var(--colorLight);
}

.btns-colormain.btns-outline #edd-purchase-button,
.btns-colormain.btns-outline .edd-submit,
.btns-colormain.btns-outline [type=submit].edd-submit,
.btns-colormain.btns-outline .edd_checkout a,
.btns-colormain.btns-outline .edd-submit.button,
.btns-colormain.btns-outline .edd-submit.button.gray,
.btns-colormain.btns-outline .edd-submit.button:visited{
	color: var(--colorMain);
	border-color: var(--colorMain);
}

.btns-colormain.btns-outline #edd-purchase-button:hover,
.btns-colormain.btns-outline .edd-submit:hover,
.btns-colormain.btns-outline [type=submit].edd-submit:hover,
.btns-colormain.btns-outline .edd_checkout a:hover,
.btns-colormain.btns-outline .edd-submit.button:hover,
.btns-colormain.btns-outline .edd-submit.button.gray:hover,
.btns-colormain.btns-outline .edd-submit.button:visited:hover{
	border-color: var(--colorMain);
	background-color: var(--colorMain);
	color: #fff;
}

.cart-dropdown{
	position: relative;
	text-align: left;
}

@media (max-width: 500px) {
	.cart-dropdown{
		position: static;
	}
}

.cart-dropdown .dropdown-toggle{
	position: relative;
	padding: .1em .6em 0 .2em;
	margin: 0 .5em;
	display: inline-block;
}

.cart-dropdown .dropdown-toggle .svg-icon{
	line-height: 40px;
	position: relative;
	top: 3px;
}

.cart-dropdown .dropdown-toggle .svg-icon svg{
	max-width: 22px;
	max-height: 22px;
}

.cart-dropdown .dropdown-toggle .cart-count{
	position: absolute;
	top: 3px;
	right: -2px;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	padding: 2px 4px;
	border-radius: 5px;
	background-color: var(--colorMain);
	color: #fff;
}

.cart-dropdown .dropdown-toggle .cart-count:empty{
	display: none;
}

.cart-dropdown .cart-dropdown-menu{
	min-width: 300px;
	max-width: 310px;
	padding: 1.5em;
	display: block;
	position: absolute;
	z-index: 11;
	background-color: var(--colorLight);
	color: var(--colorFont);
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
	display: none;
}

.cart-dropdown .cart-dropdown-menu a:not([class]){
	color: var(--colorDarkMuted);
}

.cart-dropdown .cart-dropdown-menu a:not([class]):hover{
	color: var(--colorMain);
}

.cart-dropdown .cart-dropdown-menu .svg-icon svg{
	fill: var(--colorDarkMuted);
}

.cart-dropdown .cart-dropdown-menu.active{
	display: block;
}

.cart-dropdown .cart-dropdown-menu.dropdown-menu-right{
	right: 0;
}

.cart-dropdown p:last-child{
	margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
	#header .cart-dropdown + #nav_toggle{
		margin-left: 0;
	}
}

.edd_download h3{
	font-size: 1.2em;
	margin: 1em 0 .5em;
}

.edd_download h3.edd_download_title a:not([class]){
	color: inherit;
}

.edd_download .edd_download_excerpt p{
	margin: 0;
}

.edd_download p:last-child{
	margin: 0;
}

.edd_download .edd_price{
	font-size: 1.1em;
	margin: .5em 0 1em;
}

.wider-image .edd_download_image{
	margin-top: -1.5em;
	margin-left: -1.5em;
	margin-right: -1.5em;
	max-width: none;
}

.edd_download_image > a{
	display: block;
}

.edd_download_image > a:focus{
	outline-offset: -1px;
}

.edd-cart-added-alert{
	color: var(--colorMain);
}

.text-center .edd-cart-added-alert{
	width: 100%;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	margin-left: -50%;
}

.edd_download_inner{
	position: relative;
	padding: 0 var(--edd-gap) var(--edd-gap);
}

.edd_download_inner .download-terms{
	margin-bottom: 0;
}

.edd_download_inner .edd-btn-block .edd_purchase_submit_wrapper a,
.edd_download_inner .edd-btn-block .edd_purchase_submit_wrapper [type=submit]{
	width: 100%;
}

.edd_download_columns_1 .edd_download{
	width: 100%;
}

.edd_download_columns_2 .edd_download{
	width: 50%;
}

.edd_download_columns_0 .edd_download,
.edd_download_columns_3 .edd_download{
	width: 33%;
}

.edd_download_columns_4 .edd_download{
	width: 25%;
}

.edd_download_columns_5 .edd_download{
	width: 20%;
}

.edd_download_columns_6 .edd_download{
	width: 16.6%;
}

.edd_download_columns_2 .edd_download:nth-child(2n+1),
.edd_download_columns_3 .edd_download:nth-child(3n+1),
.edd_download_columns_4 .edd_download:nth-child(4n+1),
.edd_download_columns_5 .edd_download:nth-child(5n+1),
.edd_download_columns_6 .edd_download:nth-child(6n+1){
	clear: left;
}

@media (max-width: 767px) {
	.edd_download_columns_0 .edd_download,
	.edd_download_columns_3 .edd_download{
		width: 50%;
	}

	.edd_download_columns_4 .edd_download{
		width: 50%;
	}

	.edd_download_columns_5 .edd_download{
		width: 50%;
	}

	.edd_download_columns_6 .edd_download{
		width: 50%;
	}

	.edd_download_columns_3 .edd_download:nth-child(3n+1),
	.edd_download_columns_4 .edd_download:nth-child(4n+1),
	.edd_download_columns_5 .edd_download:nth-child(5n+1),
	.edd_download_columns_6 .edd_download:nth-child(6n+1){
		clear: none;
	}

	.edd_download:nth-child(2n+1){
		clear: left !important;
	}
}

@media (max-width: 500px) {
	.edd_download_columns_0 .edd_download,
	.edd_download_columns_3 .edd_download,
	.edd_download_columns_4 .edd_download,
	.edd_download_columns_5 .edd_download,
	.edd_download_columns_6 .edd_download{
		width: 100%;
		float: none;
	}
}

@supports (display: grid) {
	.edd_downloads_list .edd_download{
		width: auto;
	}

	.edd_download_inner{
		padding: 0;
		margin: 0;
	}
}

.edd_downloads_list.equal-height{
	display: flex;
	flex-wrap: wrap;
}

.edd_downloads_list.equal-height .edd_download_inner,
.edd_downloads_list.equal-height .download-inner-wrap{
	height: 100%;
	margin: 0;
}

.edd_downloads_list.equal-height .download-inner-wrap{
	display: flex;
	flex-direction: column;
}

.edd_downloads_list.equal-height .downloadFooter,
.edd_downloads_list.equal-height .edd_download_buy_button{
	margin-top: auto;
}

.edd_downloads_list.equal-height .edd_download_purchase_form{
	margin-top: 0;
}

#box #edd_download_pagination{
	width: 100%;
	margin-top: 1em;
}

#box #edd_download_pagination .next,
#box #edd_download_pagination .prev{
	padding-left: .5em;
	padding-right: .5em;
}

.edd-cart-meta.edd_subtotal,
.edd-cart-meta.edd_total{
	background-color: var(--colorBackground);
	padding: .5em 1em;
}

.widget_edd_cart_widget li{
	line-height: 1.5;
	margin: var(--wli-my) 0;
}

.widget_edd_cart_widget .edd-cart-meta.edd_total{
	margin: 1.5em 0;
}

.cart-dropdown .widget_edd_cart_widget .edd-cart-number-of-items{
	display: none;
}

.cart-dropdown .widget_edd_cart_widget li:first-child{
	margin-top: 0;
}

.cart-dropdown .widget_edd_cart_widget li:last-child{
	margin-bottom: 0;
}

.widget_edd_product_details .edd_price{
	font-size: 1.5em;
}

.widget_edd_product_details .edd_purchase_submit_wrapper .edd-add-to-cart.button{
	display: block;
}

.widget_edd_product_details .edd_purchase_submit_wrapper .edd_go_to_checkout.button:not([style]),
.widget_edd_product_details .edd_purchase_submit_wrapper .edd_go_to_checkout.button[style="display: inline-block;"]{
	display: block !important;
}

.edd_download_purchase_form{
	margin-top: 1em;
}

.edd_download_purchase_form .edd_download_quantity_wrapper{
	float: left;
	margin: .25em .5em 0 0;
}

.edd_download_purchase_form .edd_price_options{
	margin-bottom: 2em;
}

.widget.downloadDetails li{
	margin: var(--wli-my) 0;
}

.widget.downloadDetails li span:first-child{
	min-width: 9em;
	display: inline-block;
	font-weight: bolder;
}

.edd-taxonomy-widget li{
	margin: var(--wli-my) 0;
}

.edd-taxonomy-widget .count{
	float: right;
}

#edd_checkout_cart th{
	font-weight: inherit;
}

#edd_checkout_cart td,
#edd_checkout_cart th{
	border-color: var(--colorBorder);
	color: inherit;
	background: none;
	line-height: inherit;
}

#edd_checkout_cart .edd_cart_header_row th{
	background-color: var(--colorBackground);
}

#edd_checkout_cart input.edd-item-quantity{
	width: 4em;
	padding-left: .75em;
	padding-right: .75em;
	margin-right: .5em;
}

#edd_checkout_form_wrap legend,
#edd_checkout_form_wrap label{
	font-weight: inherit;
}

#edd_checkout_form_wrap span.edd-description{
	color: var(--colorFontMuted);
}

#edd_checkout_form_wrap #edd-login-account-wrap,
#edd_checkout_form_wrap #edd-new-account-wrap,
#edd_checkout_form_wrap #edd_final_total_wrap,
#edd_checkout_form_wrap #edd_show_discount{
	background-color: var(--colorBackground);
}

#edd_checkout_form_wrap #edd-discount-code-wrap,
#edd_checkout_form_wrap #edd_final_total_wrap,
#edd_checkout_form_wrap #edd_show_discount{
	border-color: var(--colorBorder);
}

#edd_checkout_form_wrap fieldset{
	border: none;
	padding: 0;
}

.edd_form input.edd-input.required,
.edd_form select.edd-select.required{
	color: inherit;
}

.edd-cart-adjustment{
	background-color: var(--colorBackground);
}

table#edd_purchase_receipt_products td:first-child,
table#edd_purchase_receipt td:first-child{
	padding-left: 0;
}