/*LearnPress*/
body.learnpress-page #box #col .lp-button{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
	height: auto;
}

body.learnpress-page #box #col .lp-button:hover{
	background-color: var(--colorMain);
	border-color: var(--colorMain);
}

body.learnpress-page #box #col #learn-press-profile-basic-information button,
body.learnpress-page #box #col form[name=profile-change-password] button{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
}

body .lp-modal-dialog .lp-modal-content{
	background-color: var(--colorLight);
	color: var(--colorFont);
}

body .lp-modal-dialog .lp-modal-content .lp-modal-header{
	background-color: var(--colorMain);
	color: var(--colorLight);
	padding-left: 2em;
	padding-right: 2em;
}

body .lp-modal-dialog .lp-modal-content .lp-modal-header h3{
	color: var(--colorLight);
}

body .lp-modal-dialog .lp-modal-content .lp-modal-footer{
	background-color: var(--colorLight);
	color: var(--colorFont);
}

body .lp-modal-dialog .lp-modal-content .main-content{
	padding-top: 20px;
	padding-bottom: 10px;
}

body .lp-modal-dialog .lp-button{
	position: relative;
	border: 3px solid;
	border-color: transparent;
	display: inline-block;
	line-height: 1;
	font-size: var(--btn-fs);
	font-weight: normal;
	text-align: center;
	padding: 15px 23px 15px;
	border-radius: 1px;
	background-color: var(--colorDark);
	color: var(--colorLight);
	cursor: pointer;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out;
}

body .lp-modal-dialog .lp-button:hover{
	background-color: var(--colorMain);
	border-color: var(--colorMain);
}

#box .learn-press-message{
	border-radius: 0;
}

#box .learn-press-message:after{
	border-bottom-color: var(--colorBackground);
}

#box .learn-press-progress .progress-bg{
	background-color: var(--colorBackground);
}

#box .learn-press-progress:before,
#box .learn-press-message{
	background-color: var(--colorBackground);
}

#box .learn-press-form .form-fields .form-field input[type=checkbox] + .description{
	display: inline;
}

#box .learn-press-breadcrumb{
	display: none;
}

#box #col .switch-layout .switch-btn::before{
	color: var(--colorDarkMuted);
}

#box #col .switch-layout input[type=radio]:checked + label{
	background-color: var(--colorBackground);
}

#box #col .switch-layout input[type=radio]:checked + label::before{
	color: var(--colorMain);
}

#box #col .lp-courses-bar .search-courses input[type=text]{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	font-style: inherit;
}

#box #col .course-content .course-instructor a{
	color: var(--colorMain);
}

#box #col .course-permalink .course-title{
	color: var(--colorDarkMuted);
}

#box #col .course-content .course-wrap-meta{
	color: var(--colorFontMuted);
}

#box #col .course-info,
#box #col .course-excerpt{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#box #col .learn-press-courses[data-layout=list] .course{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#box #col .learn-press-courses[data-layout=list] .course-readmore a{
	background-color: var(--colorMain);
}

#box #col .learn-press-courses[data-layout=grid] .course-footer,
#box #col .learn-press-courses[data-layout=grid] .course-content{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box #col .learn-press-pagination .page-numbers{
	padding: 0;
	color: var(--colorDarkMuted);
}

#box #col .learn-press-pagination .page-numbers li{
	padding: 0;
}

#box #col .learn-press-pagination .page-numbers > li a,
#box #col .learn-press-pagination .page-numbers > li span{
	border: none;
	line-height: 1;
	padding: .75em 1em;
	font-weight: inherit;
}

#box #col .learn-press-pagination .page-numbers > li span{
	background-color: var(--colorBackground);
}

#box #col .learn-press-pagination .page-numbers:hover,
#box #col .learn-press-pagination .page-numbers.current{
	color: var(--colorMain);
}

#box #col .lp-archive-courses .course-detail-info::before,
#box #col .lp-archive-courses .course-detail-info::after{
	display: none;
}

#box #col #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a > i,
#box #col .course-extra-box__content li::before,
#box #col .meta-item::before,
#box #col .section-item-link::before{
	color: var(--colorMain);
}

#box #col #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a:after{
	color: var(--colorFontMuted);
}

#box #col .course-learning-summary > div{
	margin-bottom: 2em;
}

#box #col .single-course-info .lp-course-buttons{
	margin: 1em 0 .5em;
}

#box #col .single-course-info .learn-press-course-results-progress .items-progress,
#box #col .single-course-info .learn-press-course-results-progress .course-progress{
	float: none;
	width: 100%;
}

#box #col ul.learn-press-nav-tabs{
	border-color: var(--colorBorder);
	border-bottom-width: 1px;
	margin-bottom: 0;
	background-color: transparent;
}

#box #col ul.learn-press-nav-tabs .course-nav{
	border-color: var(--colorBorder);
}

#box #col ul.learn-press-nav-tabs .course-nav a{
	border: 1px solid var(--colorBorder);
	border-bottom-width: 0;
	background: var(--colorLight);
	margin-right: 3px;
	margin-bottom: -1px;
	position: relative;
}

#box #col ul.learn-press-nav-tabs .course-nav.active:after,
#box #col ul.learn-press-nav-tabs .course-nav:hover:after{
	background-color: var(--colorMain);
	bottom: auto;
	width: auto;
	top: -1px;
	left: 0;
	right: 0;
	height: 4px;
	content: '';
	position: absolute;
}

#box #col #learn-press-course-tabs .course-nav label{
	background-color: var(--colorLight);
	color: var(--colorDarkMuted);
}

#box #col #learn-press-course-tabs .course-tab-panel{
	border: 1px solid var(--colorBorder);
	background-color: var(--colorLight);
	border-top-width: 0;
	padding: 1.5em;
}

@media (min-width: 992px) {
	#box #col #learn-press-course-tabs .course-tab-panel{
		padding: 3em;
	}
}

#box #col #learn-press-course-tabs .course-tab-panel .course-description p{
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

@media (min-width: 768px) {
	#box #col .course-flex-1-3{
		display: flex;
		align-items: flex-start;
	}

	#box #col .course-info-wrap{
		width: 70%;
	}
}

#box #col .course-summary .course-detail-info{
	background-color: var(--colorBackground);
	color: var(--colorFont);
}

@media (max-width: 1024px) {
	#box #col .course-summary .course-detail-info{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 768px) {
	#box #col .course-summary .course-detail-info{
		padding-left: 30px;
	}
}

#box #col .course-summary .course-detail-info .course-title{
	color: var(--colorDarkMuted);
}

#box #col .course-summary .course-detail-info a{
	color: var(--colorDarkMuted);
}

#box #col .course-summary .course-detail-info label{
	color: var(--colorFontMuted);
}

#box #col div.course-curriculum ul.curriculum-sections{
	background-color: transparent;
}

#box #col div.course-curriculum ul.curriculum-sections .section-header{
	border-color: var(--colorBorder);
	background-color: transparent;
	border-bottom-width: 3px;
	padding: 0;
	cursor: pointer;
}

#box #col div.course-curriculum ul.curriculum-sections .section-header .section-desc{
	color: var(--colorFontMuted);
	font-size: 1rem;
	line-height: 1.4;
	margin: .5em 0 1em !important;
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item{
	font-size: inherit;
	background: transparent;
	border-bottom-color: var(--colorBorder);
	padding: 0;
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item.current{
	background-color: var(--colorBackground);
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link:before{
	font-size: inherit;
	padding-top: 1em;
	padding-bottom: 1em;
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item .item-name,
#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta{
	padding-top: 1em;
	padding-bottom: 1em;
	color: var(--colorDarkMuted);
	transition: color .2s ease;
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item .item-name:hover{
	color: var(--colorMain);
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta .course-item-status:before{
	font-size: inherit;
}

#box #col div.course-curriculum ul.curriculum-sections .section-content .course-item.item-locked .course-item-status:before{
	color: var(--colorDarkMuted);
}

#box #col .lp-course-author{
	margin-bottom: 0;
}

#box #col .lp-course-author a{
	color: var(--colorDarkMuted);
}

#box #col .lp-course-author .author-description{
	color: var(--colorFont);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#box #col .course-price .origin-price,
#box #col .course-price .price{
	color: var(--colorDarkMuted);
}

#box #col .course-featured-review .featured-review__content{
	color: var(--colorFontMuted);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#box #col .course-featured-review .featured-review__content:after{
	line-height: 0;
}

#box #col .course-sidebar-top{
	background-color: var(--colorLight);
}

#box #col .course-summary-sidebar .course-sidebar-preview{
	background-color: var(--colorLight);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-time{
	border-color: var(--colorBorder);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-time-row{
	color: var(--colorFont);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-time-row:last-child:after{
	display: none;
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-time-row time{
	color: var(--colorFont);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-time-row strong{
	color: var(--colorDarkMuted);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-results-progress .items-progress__heading,
#box #col .course-summary-sidebar .course-sidebar-preview .course-results-progress .course-progress__heading{
	color: var(--colorDarkMuted);
}

#box #col .course-summary-sidebar .course-sidebar-preview .course-results-progress .number{
	color: var(--colorFont);
}

#box #col .course-extra-box__title{
	background-color: var(--colorBackground);
}

#box #col .course-tab-panel-faqs .course-faqs-box,
#box #col .course-extra-box,
#box #col .course-extra-box__content li{
	border-color: var(--colorBorder);
}

#box #col .course-faqs-box__content-inner,
#box #col .course-extra-box__content li{
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

#box #col .course-tab-panel-faqs .course-faqs-box:hover .course-faqs-box__title,
#box #col input[name=course-faqs-box-ratio]:checked + .course-faqs-box .course-faqs-box__title{
	color: var(--colorMain);
}

#box #popup-course{
	background-color: var(--colorLight);
}

#box #popup-course #sidebar-toggle{
	background-color: var(--colorLight);
}

#box #popup-course #sidebar-toggle:before{
	color: var(--colorMain);
}

#box #popup-course #popup-header{
	color: var(--colorLight);
	background-color: var(--colorDarkMuted);
}

#box #popup-course #popup-header .popup-header__inner .course-title a{
	color: var(--colorLight);
}

#box #popup-course #popup-header .items-progress .number{
	color: var(--colorLight);
}

#box #popup-course #popup-sidebar .search-course{
	background-color: var(--colorBackground);
}

#box #popup-course #popup-sidebar .search-course button::before{
	color: var(--colorDarkMuted);
}

#box #popup-course #popup-sidebar .search-course input[name=s]{
	color: var(--colorDarkMuted);
}

#box #popup-course #popup-sidebar .search-course.searching::after{
	border-bottom-color: var(--colorLight);
}

#box #popup-course #popup-sidebar .course-curriculum .section .section-content .course-item .item-meta{
	color: var(--colorFontMuted);
}

#box #popup-course #learn-press-course-curriculum{
	background: var(--colorLight);
	border-color: var(--colorBorder);
}

#box #popup-course #learn-press-course-curriculum .curriculum-scrollable{
	padding: 10px 20px;
}

#box #popup-course #learn-press-course-curriculum .section-header{
	padding-top: 10px;
	background-color: var(--colorLight);
}

#box #popup-course #learn-press-course-curriculum .current{
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

#box #popup-course #learn-press-course-curriculum .current .item-meta.course-item-status{
	right: 38px;
}

#box #popup-course #popup-content #learn-press-content-item .course-item-title{
	color: var(--colorDarkMuted);
}

#box #popup-course #popup-content #learn-press-content-item p{
	color: var(--colorFont);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

#box #popup-course #popup-footer{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#box #popup-course #popup-footer .course-item-nav .prev:before,
#box #popup-course #popup-footer .course-item-nav .next:before{
	color: var(--colorDarkMuted);
}

#box #popup-course #popup-footer .course-item-nav .prev a,
#box #popup-course #popup-footer .course-item-nav .next a{
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-intro-item::before{
	color: var(--colorMain);
}

#box #popup-course .quiz-intro-item__title{
	color: var(--colorFontMuted);
}

#box #popup-course .quiz-intro-item__content{
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-progress{
	background-color: var(--colorBackground);
}

#box #popup-course .quiz-progress .progress-items .progress-item{
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-status > div{
	background-color: var(--colorBackground);
}

#box #popup-course .quiz-status .questions-index{
	color: var(--colorFont);
}

#box #popup-course .quiz-status .questions-index span{
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-status .countdown{
	color: var(--colorDarkMuted);
	background-color: var(--colorBackground);
}

#box #popup-course .quiz-status .countdown .fas{
	color: var(--colorDarkMuted);
}

#box #popup-course .question .question-title{
	color: var(--colorDarkMuted);
}

#box #popup-course .answer-options .answer-option{
	margin: 1em 0;
	background-color: var(--colorBackground);
	color: var(--colorDarkMuted);
}

#box #popup-course .answer-options .answer-option .option-title{
	background-color: var(--colorBackground);
	color: var(--colorFont);
	border-color: var(--colorBorder);
}

#box #popup-course .answer-options .answer-option .option-title:before{
	background-color: var(--colorBorder);
}

#box #popup-course .answer-options .answer-option:hover{
	background-color: var(--colorBackground);
}

#box #popup-course .answer-options .answer-option:hover .option-title:before{
	background-color: var(--colorMain);
}

#box #popup-course .answer-options .answer-option input[type=checkbox],
#box #popup-course .answer-options .answer-option input[type=radio]{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
	font-size: 1rem;
}

#box #popup-course .answer-options .answer-option input[type=checkbox]:after,
#box #popup-course .answer-options .answer-option input[type=radio]:after{
	border-color: var(--colorMain);
}

#box #popup-course .answer-options .answer-option input[type=checkbox]:checked ~ .option-title:before,
#box #popup-course .answer-options .answer-option input[type=radio]:checked ~ .option-title:before{
	background-color: var(--colorMain);
}

#box #popup-course .lp-quiz-buttons{
	margin: 2em 0;
}

#box #popup-course .quiz-result{
	margin: 2em auto;
}

#box #popup-course .quiz-result .result-message{
	background-color: var(--colorBackground);
}

#box #popup-course .quiz-result .result-statistic .result-statistic-field span{
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-result .result-achieved{
	border-color: var(--colorMain);
}

#box #popup-course .quiz-result.failed .result-achieved{
	color: var(--colorMain);
}

#box #popup-course .quiz-result .result-require{
	margin: .5em 0;
	color: var(--colorDarkMuted);
}

#box #popup-course .quiz-result .result-grade .result-message{
	font-size: inherit;
	color: var(--colorDarkMuted);
}

#box #popup-course #learn-press-quiz-app .questions-pagination{
	background-color: transparent !important;
}

#box #popup-course .learn-press-form .button-complete-item{
	margin-top: 2em;
}

#box #learn-press-user-profile .learn-press-form-login,
#box #learn-press-user-profile .learn-press-form-register,
#box #learn-press-checkout-login,
#box #learn-press-checkout-register{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	padding: 1.5em;
}

#box #learn-press-profile{
	background-color: transparent;
}

#box #learn-press-profile .wrapper-profile-header{
	background-color: var(--colorBackground);
	color: inherit;
	margin: 0;
}

#box #learn-press-profile .wrapper-profile-header .lp-profile-left{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box #learn-press-profile #profile-sidebar{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li{
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li a{
	color: var(--colorDarkMuted);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > ul{
	background-color: var(--colorLight);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li ul li a{
	border-color: var(--colorBorder);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li ul li a:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile #profile-nav .lp-profile-nav-tabs li.active,
#box #learn-press-profile #profile-nav .lp-profile-nav-tabs li:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile #profile-nav li.active > ul .active{
	background-color: var(--colorLight);
}

@media (max-width: 560px) {
	#box #learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a:after{
		position: absolute;
	}
}

#box #learn-press-profile .dashboard-general-statistic__row{
	justify-content: flex-start;
}

#box #learn-press-profile .dashboard-general-statistic__row .statistic-box{
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
}

#box #learn-press-profile .dashboard-general-statistic__row .statistic-box:hover{
	background-color: var(--colorBackground);
}

#box #learn-press-profile .dashboard-general-statistic__row .statistic-box .statistic-box__text{
	color: var(--colorDarkMuted);
}

#box #learn-press-profile .dashboard-general-statistic__row .statistic-box .statistic-box__number{
	color: var(--colorFontMuted);
}

#box #learn-press-profile #dashboard-general-statistic{
	border-color: var(--colorBorder);
}

#box #learn-press-profile .profile-courses > h3{
	color: var(--colorDarkMuted);
}

#box .learn-press-tabs{
	background-color: var(--colorBackground);
}

#box .learn-press-tabs .learn-press-tabs__nav{
	border-color: var(--colorBorder);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab{
	border-color: var(--colorBorder);
	background-color: transparent;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab.active::before{
	background-color: var(--colorMain);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab:first-child.active label::before{
	display: none;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab.active{
	background-color: var(--colorLight);
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab:after{
	display: none;
}

#box .learn-press-tabs .learn-press-tabs__nav .learn-press-tabs__tab label a{
	color: var(--colorDarkMuted);
}

#box div.order-recover input[type=text]{
	padding: .15em .75em;
	min-height: 40px;
	border: 1px solid;
	border-color: var(--colorBorder);
	background-color: var(--colorLight);
	box-shadow: none;
}

#box .recover-order__description{
	color: var(--colorFontMuted);
}

#box #learn-press-profile-basic-information label{
	color: var(--colorDarkMuted);
	font-weight: inherit;
	font-style: inherit;
	font-size: .92em;
	margin: 0;
}

#box .learn-press-filters > li a{
	color: var(--colorDarkMuted);
}

#box .learn-press-filters > li span{
	color: var(--colorMain);
}

#box .learn-press-filters > li:after{
	color: var(--colorBorder);
}

#box .lp-content-area{
	width: 100%;
	max-width: none;
	padding: 0;
}

#box .lp-content-wrap{
	max-width: none;
	width: 100%;
}

#box .lp-content-wrap > h2{
	color: var(--colorDarkMuted);
}

#box .lp-checkout-form__before .lp-checkout-block h4,
#box .lp-checkout-form__after .lp-checkout-block h4{
	color: var(--colorDarkMuted);
}

#box #learn-press-checkout-form a{
	color: var(--colorDarkMuted);
}

#box #learn-press-checkout-form a:hover{
	color: var(--colorMain);
}

#box .lp-terms-and-conditions{
	color: var(--colorFontMuted);
	font-size: .92em;
	font-weight: inherit;
	line-height: inherit;
}

#box #checkout-order .lp-checkout-order__inner{
	border-color: var(--colorBorder);
}

#box #checkout-order th,
#box #checkout-order td{
	font-weight: inherit;
	border-color: var(--colorBorder);
}

#box #checkout-order .cart-subtotal,
#box #checkout-order .col-number{
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
}

#box #checkout-order .order-total th{
	font-size: inherit;
	font-weight: 700;
	line-height: inherit;
	color: inherit;
}

#box #checkout-order .order-total .col-number{
	font-size: inherit;
	color: var(--colorDarkMuted);
	font-weight: 700;
}

#box .lp-widget .lp-course-info-fields .lp-course-info .lp-label{
	background-color: var(--colorMain);
}

#box .lp-course-info-fields{
	padding: 0;
}

#box .widget .course-entry .course-cover img{
	width: 100%;
}

#box .widget .course-entry .course-title{
	font-size: 1.15em;
	margin: 1em 0 .5em;
}

#box .widget .course-entry .course-meta-field{
	margin: .5em 0;
}

#box .widget .course-entry .course-meta-field:not(.course-student-number):not(.course-lesson-number){
	color: var(--colorMain);
	font-weight: bold;
}

#box .widget .course-entry + .course-entry{
	margin-top: 1em;
	padding-top: 1.5em;
	border-top: 1px solid var(--colorBorder);
}

#box .widget .side-image .course-entry .course-cover{
	float: left;
	max-width: 80px;
	margin-right: 1em;
}

#box .widget .side-image .course-entry .course-detail{
	overflow: hidden;
}

#box .widget .side-image .course-entry .course-detail .course-title{
	margin-top: 0;
}

#box .widget .side-image .course-entry + .course-entry{
	margin-top: .5em;
	padding-top: 1em;
}

#box [class*=lp-widget] .widget-footer .pull-right:after{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 8px;
	margin-left: 1em;
	position: relative;
	bottom: .15em;
	content: '\f054';
}