/*Ultimate Member styles*/
font[size="1"]{
	display: none;
}

#col .um{
	color: var(--colorFont);
	font-size: inherit;
}

#col .um a.um-link-alt{
	color: var(--colorFontMuted) !important;
}

#col .um a.um-link-alt:hover{
	text-decoration: none !important;
	color: var(--colorFont) !important;
}

#col .um .um-form input[type=text],
#col .um .um-form input[type=search],
#col .um .um-form input[type=tel],
#col .um .um-form input[type=number],
#col .um .um-form input[type=password],
#col .um .um-form textarea,
#col .um .upload-progress,
#col .um .select2-container .select2-choice,
#col .um .select2-drop,
#col .um .select2-container-multi .select2-choices,
#col .um .select2-drop-active,
#col .um .select2-drop.select2-drop-above{
	color: var(--colorFont);
	background-color: transparent;
	border-color: var(--colorBorder) !important;
	font-size: inherit !important;
}

#col .um .um-field-label{
	color: var(--colorDarkMuted);
}

#col .um .um-field-label label{
	font-weight: inherit;
	font-size: .92em !important;
	line-height: 1.3 !important;
}

#col .um .um-field-checkbox-option,
#col .um .um-field-radio-option{
	color: var(--colorDarkMuted) !important;
}

#col .um .um-field-checkbox:hover i,
#col .um .um-field-radio:hover i{
	color: var(--colorDarkMuted) !important;
}

#col .um .um-tip:hover,
#col .um .um-field-radio.active:not(.um-field-radio-state-disabled) i,
#col .um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i,
#col .um .um-member-name a:hover,
#col .um .um-member-more a:hover,
#col .um .um-member-less a:hover,
#col .um .um-members-pagi a:hover,
#col .um .um-cover-add:hover,
#col .um .um-profile-subnav a.active,
#col .um .um-item-meta a,
#col .um-account-name a:hover,
#col .um-account-nav a.current,
#col .um-account-side li a.current span.um-account-icon,
#col .um-account-side li a.current:hover span.um-account-icon,
#col .um-dropdown li a:hover,
#col i.um-active-color,
#col span.um-active-color{
	color: var(--colorDarkMuted) !important;
}

#col .um-button{
	position: relative !important;
	border: 3px solid !important;
	border-color: transparent !important;
	display: inline-block !important;
	line-height: 1 !important;
	font-size: .92em !important;
	font-weight: normal !important;
	text-align: center !important;
	padding: 15px 23px 15px !important;
	border-radius: 1px !important;
	background-color: var(--colorDark) !important;
	color: var(--colorLight) !important;
	cursor: pointer !important;
	box-shadow: none !important;
	transition: color .25s, background-color .25s, border-color .25s ease-out, opacity .25s ease-out !important;
}

#col .um-button:hover{
	opacity: .7;
}

.btns-uppercase #col .um-button{
	text-transform: uppercase !important;
}

.btns-bold #col .um-button{
	font-weight: bold !important;
}

.btns-rounded #col .um-button{
	border-radius: 6px !important;
}

.btns-round #col .um-button{
	border-radius: 40px !important;
}

.btns-colormain #col .um-button{
	background-color: var(--colorMain) !important;
}

.btns-colormain #col .um-button:hover{
	background-color: var(--colorDark) !important;
}

.btns-outline #col .um-button{
	background-color: transparent !important;
	color: var(--colorDark) !important;
	border-color: var(--colorDark) !important;
}

.btns-outline #col .um-button:hover{
	background-color: var(--colorDark) !important;
	color: var(--colorLight) !important;
}

.btns-colormain.btns-outline #col .um-button{
	color: var(--colorMain) !important;
	border-color: var(--colorMain) !important;
}

.btns-colormain.btns-outline #col .um-button:hover{
	background-color: var(--colorMain) !important;
	color: var(--colorLight) !important;
}

#col #layout .um-alt,
#col #layout input[type=submit].um-button.um-alt{
	color: var(--colorDarkMuted) !important;
	background-color: var(--colorBackground) !important;
}

#col #layout .um-alt:before,
#col #layout input[type=submit].um-button.um-alt:before{
	color: var(--colorDarkMuted) !important;
}

#col .um-member-directory-header .um-member-directory-header-row .um-member-directory-nav-line .um-member-directory-view-type .um-member-directory-view-type-a{
	color: var(--colorFontMuted);
}

#col .um-dropdown,
#col .um-new-dropdown{
	background-color: var(--colorLight);
	border-color: var(--colorBorder);
	border-radius: 2px;
	font-size: .92em;
	padding-top: .25em;
	padding-bottom: .25em;
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, .15);
}

#col .um-dropdown ul{
	background-color: var(--colorLight);
}

#col .um-dropdown li a{
	font-size: inherit;
	color: var(--colorDarkMuted) !important;
}

#col .um-dropdown li a:hover{
	color: var(--colorMain) !important;
}

#col .um-dropdown li:last-child a{
	border-color: var(--colorBorder);
}

#col .um-dropdown-arr{
	display: none;
	color: var(--colorLight);
}

#col .um-members-wrapper .um-members .um-member{
	background-color: transparent;
	border-color: var(--colorBorder);
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-card-container .um-member-card .um-member-card-content .um-member-card-header .um-member-name a{
	font-size: 1.1em;
	line-height: inherit;
	color: var(--colorDarkMuted);
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-card-container .um-member-card .um-member-card-content .um-member-tagline{
	font-size: .92em;
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-card-container .um-member-card .um-member-card-actions .um-member-cog .um-member-actions-a{
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-meta{
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-meta .um-member-metaline{
	font-size: .92em;
	line-height: inherit;
}

#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-card-footer .um-member-card-reveal-buttons .um-member-more a,
#col .um-members-wrapper .um-members.um-members-list .um-member .um-member-card-footer .um-member-card-reveal-buttons .um-member-less a{
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member{
	background-color: transparent;
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-cover{
	background-color: var(--colorBorder);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-photo a img{
	background-color: var(--colorLight);
	border-color: var(--colorLight);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-meta-main .um-member-meta{
	border-color: var(--colorBorder);
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-meta-main .um-member-meta .um-member-metaline{
	font-size: .92em;
	line-height: inherit;
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-meta-main .um-member-more a,
#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-meta-main .um-member-less a{
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-name a{
	font-size: 1.1em;
	line-height: inherit;
	color: var(--colorDarkMuted);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-member-tagline{
	font-size: .92em;
	line-height: inherit;
	color: var(--colorFontMuted);
}

#col .um-members-wrapper .um-members.um-members-grid .um-member .um-member-card .um-members-edit-btn{
	height: auto;
}

#col .um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line{
	width: 100%;
	margin-bottom: .5em;
}

#col .um-directory .um-member-directory-header .um-member-directory-header-row .um-member-directory-search-line .um-do-search{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#col .um-directory .um-members-pagination-box{
	margin-top: 3em;
}

#col .um-directory .um-members-pagination-box .um-members-pagi .pagi{
	color: var(--colorDarkMuted) !important;
}

#col .um-directory .um-members-pagination-box .um-members-pagi .pagi.current{
	color: var(--colorLight) !important;
}

#col .um-directory .um-members-pagination-box .um-members-pagi .pagi.pagi-arrow{
	line-height: 34px;
}

#col .um-directory .um-members-pagination-box .um-members-pagi .pagi.pagi-arrow i:before{
	font-size: 14px;
}

#col .um .um-field-group-head,
#col .um .um-members-pagi span.current,
#col .um .um-members-pagi span.current:hover,
#col .um .um-profile-nav-item.active a,
#col .um .um-profile-nav-item.active a:hover,
#col div.uimob800 .um-account-side li a.current,
#col div.uimob800 .um-account-side li a.current:hover{
	background-color: var(--colorMain);
}

#col .um-cover{
	background-color: var(--colorBackground);
}

#col .um-cover-add{
	color: var(--colorFontMuted);
}

#col .um-profile-photo a.um-profile-photo-img{
	border-color: var(--colorLight);
	border-bottom-color: var(--colorLight) !important;
}

#col .um-profile.um .um-name a{
	color: var(--colorDarkMuted);
}

#col .um-profile.um .um-profile-headericon a{
	color: var(--colorFontMuted);
}

#col .um-profile.um .um-profile-headericon a:hover{
	color: var(--colorDarkMuted);
}

#col .um-profile.um .um-profile-meta{
	color: var(--colorFont);
}

#col .um-profile.um .um-field{
	display: flex;
	flex-wrap: wrap;
}

#col .um-profile.um .um-field .um-field-label{
	border: none;
	padding: 0;
	margin: 0;
	width: 10em;
	flex-wrap: wrap;
}

#col .um-profile.um .um-field .um-field-label label{
	font-size: inherit !important;
	line-height: inherit !important;
}

#col .um-profile.um .um-field .um-field-area{
	flex: 1 1;
}

#col .um-profile.um .um-field .um-field-error{
	width: 100%;
}

#col .um-profile-edit{
	font-size: inherit;
}

#col .um-profile-nav{
	background-color: var(--colorDarkMuted);
}

#col .um-profile-nav-item a{
	color: var(--colorLight) !important;
	border-radius: 2px;
}

#col .um-profile-nav-item a:hover{
	background: var(--colorDark);
}

#col .um-profile-nav-item.active a,
#col .um-profile-nav-item.active a:hover{
	color: var(--colorLight) !important;
}

#col .um-meta{
	font-size: .92em;
}

#col .um-meta-text{
	font-size: .92em;
	color: var(--colorFont);
}

#col .um-profile-note{
	color: var(--colorFont);
}

#col .um-profile-note span{
	font-size: inherit;
	color: var(--colorFont);
}

#col .um-profile-note a:hover{
	text-decoration: none !important;
}

#col .um-item{
	border: none;
}

#col .um-item-img a{
	padding: 0;
	border-radius: 0;
	border: none;
}

#col .um-item-link a,
#col .um-item-link i{
	color: var(--colorDarkMuted);
}

#col .um-item-link a:hover{
	text-decoration: none !important;
	color: var(--colorMain);
}

#col .um-item-meta{
	color: var(--colorFontMuted);
}

#col .um-item-meta a{
	border: none;
	font-weight: inherit;
}

#col .um-item-meta a:hover{
	color: var(--colorMain) !important;
}

#col .um-item-meta span{
	font-style: inherit;
	font-weight: inherit;
	font-size: .92em;
}

#col .um-account-main div.um-account-heading,
#col .um-account-name a{
	color: var(--colorDarkMuted);
}

#col .um-account-side li{
	background: var(--colorBackground);
}

#col .um-account-side li a{
	color: var(--colorDark);
}

#col .um-account-side li a:hover{
	background-color: var(--colorBorder);
}

#col .um-account-side li a span.um-account-title{
	color: var(--colorDark);
}

#col .um-account-side li a span.um-account-icon,
#col .um-account-side li a.current span.um-account-icon,
#col .um-account-side li a.current:hover span.um-account-icon{
	color: var(--colorDarkMuted);
	border-color: var(--colorBorder);
}

#col .um-field-block{
	font-size: inherit;
	color: inherit;
}

#col .um-misc-with-img{
	font-size: inherit;
	border-bottom: 1px solid var(--colorBorder);
}

#col .um-misc-ul{
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: .92em;
}

#col .um-misc-ul li{
	display: inline-block;
	padding: 0 .5em;
}

#col .picker__box{
	background-color: var(--colorLight);
	color: var(--colorFont);
}

#col .picker__weekday{
	color: var(--colorDarkMuted);
}

#col .picker__nav--prev:hover,
#col .picker__nav--next:hover{
	background-color: var(--colorMain);
}

#col .picker__footer,
#col .picker__header,
#col .picker__day--infocus:hover,
#col .picker__day--outfocus:hover,
#col .picker__day--highlighted:hover,
#col .picker--focused .picker__day--highlighted,
#col .picker__list-item:hover,
#col .picker__list-item--highlighted:hover,
#col .picker--focused .picker__list-item--highlighted,
#col .picker__list-item--selected,
#col .picker__list-item--selected:hover,
#col .picker--focused .picker__list-item--selected{
	background-color: var(--colorDark);
	color: var(--colorLight);
}

#col .picker__table{
	margin-top: 0;
}

.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover{
	background-color: var(--colorMain);
}