/*WP Job Manager styles*/
.job_filters{
	background-color: var(--colorBackground);
	border: 1px solid var(--colorBorder);
	margin-bottom: 2em;
}

.job_filters .job_types{
	background-color: var(--colorBackground);
	border-color: var(--colorBorder);
}

.job_filters .job_types li{
	border-color: var(--colorBorder);
}

.job_filters [type=text]{
	background-color: var(--colorLight);
}

.job_filters .showing_jobs{
	background-color: var(--colorBackground);
	border-color: var(--colorBorder);
}

ul.job_listings .date{
	font-size: .92em;
	line-height: 1.3;
}

.rp4wp-related-job_listing > ul li.job_listing.no_job_listings_found,
.rp4wp-related-job_listing > ul li.no_job_listings_found.no_job_listings_found,
ul.job_listings li.job_listing.no_job_listings_found,
ul.job_listings li.no_job_listings_found.no_job_listings_found,
div.job_listings .load_more_jobs,
.rp4wp-related-job_listing > ul li.job_listing,
.rp4wp-related-job_listing > ul li.no_job_listings_found,
ul.job_listings li.job_listing,
ul.job_listings li.no_job_listings_found,
.rp4wp-related-job_listing > ul,
ul.job_listings{
	border-color: var(--colorBorder);
}

.rp4wp-related-job_listing > ul li.job_listing a .meta,
.rp4wp-related-job_listing > ul li.no_job_listings_found a .meta,
ul.job_listings li.job_listing a .meta,
ul.job_listings li.no_job_listings_found a .meta,
.rp4wp-related-job_listing > ul li.job_listing a div.location,
.rp4wp-related-job_listing > ul li.no_job_listings_found a div.location,
ul.job_listings li.job_listing a div.location,
ul.job_listings li.no_job_listings_found a div.location,
.rp4wp-related-job_listing > ul li.job_listing a div.position .company,
.rp4wp-related-job_listing > ul li.no_job_listings_found a div.position .company,
ul.job_listings li.job_listing a div.position .company,
ul.job_listings li.no_job_listings_found a div.position .company{
	color: var(--colorFontMuted);
}

.rp4wp-related-job_listing > ul li.job_listing a:focus,
.rp4wp-related-job_listing > ul li.job_listing a:hover,
.rp4wp-related-job_listing > ul li.no_job_listings_found a:focus,
.rp4wp-related-job_listing > ul li.no_job_listings_found a:hover,
ul.job_listings li.job_listing a:focus,
ul.job_listings li.job_listing a:hover,
ul.job_listings li.no_job_listings_found a:focus,
ul.job_listings li.no_job_listings_found a:hover{
	background-color: var(--colorBackground);
}

.rp4wp-related-job_listing > ul li.job_listing.job_position_featured a,
.rp4wp-related-job_listing > ul li.no_job_listings_found.job_position_featured a,
ul.job_listings li.job_listing.job_position_featured a,
ul.job_listings li.no_job_listings_found.job_position_featured a{
	background-color: var(--colorBackground);
}

.rp4wp-related-job_listing > ul li.job_listing.job_position_featured a:focus,
.rp4wp-related-job_listing > ul li.job_listing.job_position_featured a:hover,
.rp4wp-related-job_listing > ul li.no_job_listings_found.job_position_featured a:focus,
.rp4wp-related-job_listing > ul li.no_job_listings_found.job_position_featured a:hover,
ul.job_listings li.job_listing.job_position_featured a:focus,
ul.job_listings li.job_listing.job_position_featured a:hover,
ul.job_listings li.no_job_listings_found.job_position_featured a:focus,
ul.job_listings li.no_job_listings_found.job_position_featured a:hover{
	background-color: var(--colorLight);
}

div.job_listings .load_more_jobs:hover,
div.job_listings .load_more_jobs:focus{
	border-color: var(--colorBorder);
	background-color: var(--colorBackground);
}

div.job_listings .job-manager-pagination{
	border: none;
	padding: 2em 0 0;
}

.rp4wp-related-job_listing > ul.loading,
ul.job_listings.loading,
#content nav.job-manager-pagination ul li,
nav.job-manager-pagination ul li,
#content nav.job-manager-pagination ul,
nav.job-manager-pagination ul{
	border-color: var(--colorBorder);
}

#content nav.job-manager-pagination ul li a,
#content nav.job-manager-pagination ul li span,
nav.job-manager-pagination ul li a,
nav.job-manager-pagination ul li span{
	min-width: 2em;
}

#content nav.job-manager-pagination ul li a:focus,
#content nav.job-manager-pagination ul li a:hover,
#content nav.job-manager-pagination ul li span.current,
nav.job-manager-pagination ul li a:focus,
nav.job-manager-pagination ul li a:hover,
nav.job-manager-pagination ul li span.current{
	background-color: var(--colorBackground);
	color: var(--colorDarkMuted);
}

.single_job_listing .company{
	border-color: var(--colorBorder);
	box-shadow: none;
}

.single_job_listing .meta li,
.single_job_listing .company .tagline{
	color: var(--colorFontMuted);
}

.single_job_listing .meta .date-posted:before{
	font-size: 15px;
	margin-right: .5em;
}

.single_job_listing .company .company_twitter:before,
.single_job_listing .company .website:before{
	margin-right: .5em;
}

.job-manager-application-wrapper .application,
.single_job_listing .application{
	margin-bottom: 0;
}

.job-manager-application-wrapper .application .application_details,
.single_job_listing .application .application_details{
	border-color: var(--colorBorder);
	margin-bottom: 0;
	padding-bottom: .75em;
}

.job-manager-application-wrapper .application .application_details:before,
.single_job_listing .application .application_details:before{
	border-bottom-color: var(--colorBorder);
}

.job-manager-form fieldset{
	border-color: var(--colorBorder);
}

.job_summary_shortcode{
	border-color: var(--colorBorder);
	box-shadow: none;
}

.job_summary_shortcode .job_summary_content{
	padding: 1em;
}

.job_summary_shortcode .job_summary_title{
	font-size: 1.1em;
	margin-bottom: .5em;
}

.job_summary_shortcode .job-type{
	height: auto;
}

.job_summary_shortcode .meta{
	font-style: inherit;
	color: var(--colorFont);
}

.job-manager-error,
.job-manager-info,
.job-manager-message{
	background-color: var(--colorLight);
	color: var(--colorDarkMuted);
}

#job-manager-job-dashboard table th{
	padding: 1em;
}

#job-manager-job-dashboard table td{
	padding: .5em 1em;
}

.layout-search ul.job_listings{
	border: 1px solid var(--colorBorder);
}

.layout-search ul.job_listings li.job_listing{
	border: none;
}