.nav-btn span,
.nav-btn span:before{
	width: 28px;
}

.nav-btn span:before{
	bottom: 9px;
}

.nav-btn span:after{
	top: 7px;
	width: 20px;
	margin-right: 0;
}

.nav-btn.active span:before{
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nav-btn.active span:after{
	width: 28px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}