#nav_top.top-nav{
	background-color: var(--colorDarkMuted);
	color: var(--colorLight);
}

#nav_top.top-nav .top-menu a{
	color: var(--colorLight);
}

#nav_top.top-nav .top-menu a:hover{
	color: var(--colorMain);
}

#nav_top.top-nav .social-links svg{
	fill: var(--colorLight);
}

#nav_top.top-nav .nav-btn{
	background-color: var(--colorDarkMuted) !important;
}

#nav_top.top-nav .nav-btn#nav_close span:before,
#nav_top.top-nav .nav-btn#nav_close span:after{
	background-color: var(--colorLight);
}