.top-menu > li{
	padding: 7px 16px;
}

.top-menu > li.menu-item-has-children{
	padding: 7px 25px 7px 16px;
}

.top-menu > li.menu-item-has-children > a:after{
	right: -27px;
}

.top-menu > li > a:before,
.top-menu > li > a:after{
	content: '';
	width: 25px;
	height: 25px;
	position: absolute;
	background: transparent !important;
	border: 1px solid currentColor;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: all .2s ease;
}

.top-menu > li > a:before{
	left: -16px;
	bottom: -3px;
	border-top: 0;
	border-right: 0;
}

.top-menu > li > a:after{
	top: -3px;
	right: -16px;
	border-left: 0;
	border-bottom: 0;
}

.top-menu > li > a:focus:before,
.top-menu > li > a:hover:before,
.top-menu > li > a:focus:after,
.top-menu > li > a:hover:after{
	width: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.top-menu > .current-menu-item > a:before,
.top-menu > .current-menu-item > a:after,
.top-menu > .current-menu-parent > a:before,
.top-menu > .current-menu-parent > a:after{
	width: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
}