#nav_top.top-nav{
	background-color: var(--colorDarkMuted);
	color: var(--colorLight);
}

#nav_top.top-nav .top-menu a{
	color: var(--colorLight);
}

#nav_top.top-nav .top-menu a:hover{
	color: var(--colorMain);
}

#nav_top.top-nav .social-links svg{
	fill: var(--colorLight);
}

#nav_top.top-nav .nav-btn{
	background-color: var(--colorDarkMuted) !important;
}

#nav_top.top-nav .nav-btn#nav_close span:before,
#nav_top.top-nav .nav-btn#nav_close span:after{
	background-color: var(--colorLight);
}

.top-nav .top-menu{
	margin-top: 16px;
	border-top: 1px solid var(--colorFont);
}

.top-nav .top-menu > li{
	padding: 0;
}

.top-nav .top-menu > li > a{
	border-bottom: 1px solid var(--colorFont);
	display: block;
	padding-top: 13px;
	padding-bottom: 13px;
}

.top-nav .top-menu ul{
	width: 100%;
	margin: 0;
}

.top-nav .top-menu ul li{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding: 0;
}

.top-nav .top-menu ul li:before{
	position: absolute;
	top: 1.5em;
}

.top-nav .top-menu ul a{
	padding: 12px 0 12px 20px;
	width: 100%;
	border-bottom: 1px solid var(--colorFont);
}