.product-thumbnail-wrap{
	overflow: hidden;
}

.product-thumbnail-wrap img{
	transition: all .25s ease-in-out;
}

.product-buttons-wrap > *{
	position: relative;
	bottom: 0;
	opacity: 0;
	transition: all .6s cubic-bezier(.175, .885, .32, 1.275) .075s !important;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.product-buttons-wrap > *:nth-child(1){
	transition-delay: 0s !important;
}

.product-buttons-wrap > *:nth-child(3){
	transition-delay: .15s !important;
}

.product-buttons-wrap > *:nth-child(4){
	transition-delay: .25s !important;
}

.woo .product-text-wrap .wp-block-button,
.woo .product-text-wrap .button{
	display: none;
}

.woo .product-animation-button a{
	z-index: 10;
	margin-top: 1em;
	position: absolute;
	white-space: nowrap !important;
	top: 50%;
	opacity: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -100%) scale(0);
	transform: translate(-50%, -100%) scale(0);
	transition: all .6s cubic-bezier(.175, .885, .32, 1.275) .075s !important;
}

.woo .product-animation-button a.wc-forward{
	background-color: var(--colorMain);
	color: var(--colorLight);
	margin-top: 3.5em !important;
	padding: .125em 1em;
	border-radius: 5px;
}

.woo .product-animation-button a.wc-forward:hover{
	background-color: var(--colorDark);
}

.woo .product-animation-button.block-btn a{
	margin: auto;
	max-width: calc(100% - 2em);
}

.woo .product-animation-button .wc-block-grid__product-add-to-cart.wp-block-button{
	margin: 0;
}

.woo .product-animation-button .wp-block-button a{
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
}

.product-loop-item:hover .product-thumbnail-wrap img{
	opacity: .8;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.product-loop-item:hover .product-buttons-wrap > *{
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.product-loop-item:hover .product-animation-button a{
	-webkit-transform: translate(-50%, -100%) scale(1);
	transform: translate(-50%, -100%) scale(1);
	opacity: 1;
}