/*Simple Job Board styles*/
.entry-footer .post-views{
	vertical-align: middle;
	display: inline-block;
}

.entry-footer .pld-like-dislike-wrap{
	position: relative;
	margin: 0 1em;
}

.entry-footer .pld-like-dislike-wrap a{
	position: relative;
	top: .25em;
}

.entry-footer .pld-like-dislike-wrap .pld-common-wrap{
	margin: 0 .5em;
	min-width: 2em;
}

.cld-like-dislike-wrap{
	position: relative;
	top: -10px;
	margin-bottom: 0;
	color: var(--colorFontMuted);
}

.cld-like-dislike-wrap a{
	position: relative;
	top: .15em;
}

.cld-like-dislike-wrap svg{
	max-width: 17px;
	max-height: 17px;
	opacity: .7;
	fill: var(--colorFontMuted);
}

.cld-like-dislike-wrap .cld-common-wrap{
	min-width: 2em;
}